{% extends 'layouts/layout.html.twig' %}

{% block body %}
    <h1>site/some-js</h1>
    <div>
        <p>{{ data }}</p>
    </div>

    <script defer>
      let url = '/api/question/get/3';
      fetch(url)
          .then(response => response.json())
          .then((res) => {
                console.log(res)
          });
    </script>

{% endblock %}
