{% extends 'layouts/layout.html.twig' %}

{% block title %}Vue.js Демо{% endblock %}

{% block additional_styles %}
    <style>
        .user-list {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
        }

        .user {
            padding: 10px;
            margin: 5px 0;
            background: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 4px;
        }

        .input-group {
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Простой список дел на Vue.js</h1>
        <div id="vue-app">
            <p class="text-danger" v-text="message"></p>
            <user-list
                    :users="users"
                    @add-user="addUser"
                    @remove-user="removeUser"
            ></user-list>
            <code v-text="users"></code>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <!-- Подключаем Vue.js через CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Подключаем все компоненты которые будут использоваться Vue на этой странице -->
    <script src="{{ asset('js/vue-components/User.js') }}"></script>
    <script src="{{ asset('js/vue-components/UserList.js') }}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {

            Vue.createApp({
                components: {
                    'user-list': UserList,
                },
                data() {
                    return {
                        message: 'It is VUE',
                        users: [],
                    }
                },
                methods: {
                    addUser(newUser) {
                        this.users.push(newUser);
                    },
                    removeUser(email) {
                        this.users = this.users.filter(user => user.email !== email);
                    }
                },
                mounted() {
                    let url = 'http://localhost:8080/api/user/get-all'
                    fetch(url)
                        .then((response) => {
                            if (response.ok) {
                                return response.json()
                            } else {
                                throw new Error('Что то пошло не так')
                            }
                        })
                        .then((res) => {
                            this.users = res.data
                        })
                        .catch((e) => {
                            alert('Ошибка: ' + e.message)
                        })
                }
            }).mount('#vue-app');

        });
    </script>
{% endblock %}
