{% extends 'layouts/layout.html.twig' %}

{% block title %}Edit Question!!{% endblock %}

{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Редактирование вопроса</h1>

        {{ include('question/_form.html.twig') }}
    </div>

    {% if question ?? false %}
    {% else %}
    {% endif %}
{% endblock %}

{% block additional_scripts %}
    <script src="{{ asset('js/summernote-min.js') }}"></script>
    <script src="{{ asset('js/summernote-ru.js') }}"></script>
{% endblock %}