{% extends 'layouts/layout.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    <div class="row">
        <div class="col-xl-8 col-md-8">
            <div class="card  mb-4">
                <div class="card-body">
                    <h4>  {{ question.title }} </h4>
                    <hr>
                    <div>
                        {{ question.text|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}